*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
} /*boiler plate of css ^*/
/*Div is considered as box or container*/
/*# -> id, . -> class*/
h1{
    color:rgb(14, 181, 219);
    background-color: black;
    font-size: 80px;/*font size*/
    font-family: calibri;/*font*/
    font-weight: 100;/*thickness*/
}
#box{
    height: 300px; /* or in px(pixels)*/
    width: 300px;
    background-color: rgb(40, 99, 107);
    margin-left: 100px;/*margin -> gapping / imaginary space*/
    margin-top: 100px;
    padding: 30px;
    /*margin -> for box 
    padding -> for inside elemets of div/box*/
}

#box1{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;/*move div on screen it unlocks some text below*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*to centre a div ^*/
}
#parent{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    /*to align items in columns (y axis) 
    to justify content in columns (x axis) 
    flex start on top
    flex end on bottom
    flex centre on centre*/
    align-items: center;
    justify-content: space-evenly;/* between / around / evenly*/
    
}
#c1{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 229, 246);
}
#c2{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 25);
}
#c3{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 255, 13);
}